<!---
    Copyright 2013, Michigan State University, Board of Trustees

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    Released by Nick Kwiatkowski (nk@msu.edu), as an acting agent of MSU
--->

<cfif session.user.isLoggedIn()>
    Thank you for logging in, <cfoutput>#session.user.name#</cfoutput>.<br><br>If you wish to logoff, you can <a href="logoff.cfm">click here</a>.
<cfelse>
    Not Logged In. You can hit <a href="login.cfm">any other page</a> to login.
</cfif>

